
body {
    background-color: white;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.container {
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
min-height: 100vh;

}

.header {
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: #6200ee;
flex-basis: 15%;

}

h1 {
    margin-left: 10px;
}

.body {
flex-basis: 80%;
}

.footer {
color: black;
flex-grow: 1;
flex-basis: 5%;
position: absolute;
bottom: 0;
text-align: center;
min-width: 100vw;
}

#addBook {
    background-color: #03DAC5;
    color: black;
    padding: 0px 10px;
    border: 0;
    border-radius: 8px;
}