
body {
    background-color: white;
    color: white;
    margin: 0;
    font-family: sans-serif;
}

.container {
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
min-height: 100vh;

}

.header {
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: #6200ee;
flex-basis: 15%;
order: 1;

}

h1 {
    margin-left: 10px;
}

.body {
min-width: 100vw;
order: 2;
flex-grow: 1;
display: flex;
flex-wrap: wrap;

}

.footer {
color: black;
flex-grow: 1;
flex-basis: 5%;
position: absolute;
bottom: 0;
text-align: center;
min-width: 100vw;
order: 3;
}

#addBook {
    background-color: #03DAC5;
    color: black;
    padding: 0px 10px;
    border: 1px solid #009b8b;
    border-radius: 8px;
    height: 40.4px;
    align-self: center;
    margin-right: 10px;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 400px;
    height: 320px;
    margin-top: -160px;
    margin-left: -200px;

}

.form-container {
    width: 400px;
    height: 320px;
    padding: 10px;
    background-color: #009b8b;
    color: black;


}

.form-container input[type=text], .form-container input[type=number],
.form-container input[type=radio] {
    width: 100%;
    border: none;
    margin: 5px 0 22px 0;
}

.form-container input[type=radio] {
    width: 50%;
}